@import "../vars/vars";

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  border-radius: 1rem;
  padding: 20px;
}

.button__white{
  background-color: white;
}

.button__blue{
  background-color: var(--blue-bg-color);
}

.button__black{
  background-color: black;
  color: white;
}

.button__transparent{
  background-color: transparent;
  border: 2px solid black;
}
