:root {
  --main-bg-color:#E6EDF8;
  --secondary-bg-color: #D4EAFF;
  --text-extra-color: #2A99FF;
  --button-primary-color: #000;
  --button-secondary-color: #E6EDF8;
  --button-transparent: transparent;
}