.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px calc(10vw - 1rem);
}

.gallery-header{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  .gallery-header__slogan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30vw;
    .gallery-header__slogan-card{
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 1rem;
      img{
        max-width: 2rem;
        max-height: 2rem;
        margin-bottom: 10px;
      }
    }
  }
}



.gallery-grid{
  display: flex;
  flex-direction: row;
  @media (max-width: 1130px){
    flex-wrap: wrap;
    .additional-grid-group{
      flex-wrap: wrap;
      #videoplayer{
        order: 1;
      }
      .row-view{
        flex-wrap: wrap;
      }
    }
  }

}
.gallery-grid-group{
  display: flex;
  flex-direction: column;
}
.row-view{
  flex-direction: row;
}
.gallery-card{
  display: flex;
  width: 240px;
  margin: 0.5rem;
  border-radius: 1rem;
  overflow: hidden;
  .card-content{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    height: 100%;
    img{
      width:100%;
      height: 100%;
      object-fit: cover;
    }
  }
}