.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px calc(10vw - 1rem);
}
.gallery-photosection{
  display: flex;
  flex-direction: row;
  max-width: 90vw;
  position: relative;
}
.gallery-offer{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #212633;
  justify-content: space-between;
  padding: 3rem;
  overflow: hidden;
  border-radius: 2rem;
  max-width: 65%;
  min-height: 70vh;
  h1{
    color: white;
    max-width: 80%;
    z-index: 999;
  }

  p{
    color:white
  }
 
}
.gallery-photos{
  position: absolute;
  right: -5%;
  display: flex;
  height: 100%;
  flex-direction: column;
  .gallery-photos__photo-container{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    height: 100%;
    button{
      position: absolute;
      bottom: 20px;
      width: 80%
    }
  }
}
.gallery__story-container{
  overflow: visible !important;
}
.story{
  position: relative;
  height: 100%;
  img{
    overflow: visible;
    height: 100%;
  }
}

.gallery-figure{
  position:absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 40%;
  img{
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}


.gallery-header__slogan{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
  z-index: 999;
  .gallery-header__slogan-card{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
    img{
      max-width: 2rem;
      max-height: 2rem;
      margin-bottom: 10px;
    }
  }

}

.story-pagination{
  width: 100px;
  height:5px;
  background-color: rgb(204, 204, 204);
  border-radius: 1px;
  .story-pagination-filler{
    background-color: white;
    width:0;
    height: 100%;
  }
}


