@import "../mixins";

.offers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px calc(10vw - 1rem);
}
.offers_selection{
  display: flex;
  flex-direction: row;
  @include margin-vertical(50px);
  button{
    margin-right: 1rem;
  }
}

.offers-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.offers-cards_info{
  background-color: white;
  max-width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  text-align: start;
  border-radius: 1rem;
  padding: 2rem;
  .offers-cards_info_cost{
    font-weight: 700;
    font-size: 1.75rem;
    @include margin-vertical(1.75rem);
  }
  .offers-cards_info_buttons{
    width: 100%;
    button{
      width: 100%;
    }
    .button__black{
      margin-bottom: 1rem;
      font-weight: 700;
    }
  }
  p{
    margin-top: 1.75rem;
  }
}
.offers-cards_photo{
  position: relative;
  display: flex;
  flex-direction:row;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  width: 60%;
  max-height: 70vh;
  img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }
}