.videosection{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    .videosection-header{
    
    }
}

.videosection-player{
    position: relative;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .videosection-player__player{
        width: 70vw;
        border-radius: 2rem;
        overflow: hidden;
    }
}

.videosection-figure{
    position: absolute;
    top:0;
    z-index: -1;
    img{
        width: 100vw;
    }
}