@import '../mixins';

.videosection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  @media screen and (max-width:600) {
    margin-bottom: 2rem;
  }
  &__playerWrapper {
    @include flex-center(column);
    @include fullsize();
    position: relative;
    z-index: 1;
    .videosection__player {
      width: 70vw;
      border-radius: 2rem;
      overflow: hidden;
      
      translate: (0 15%);
    }

    .videosection__figure {
      position: absolute;
      top: 0;
      z-index: -1;

      img {
        width: 100vw;
      }
    }
  }
}
